.coluna-acoes {
  text-align: center !important;
  max-width: 100px !important;
}

.page-title-box {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  border-bottom: 1px solid var(--vz-page-title-border);
  /* margin: 0.5rem; */
}

@media (min-width: 576px) {
  .d-sm-flex {
    display: flex !important;
  }
}

.dt-info {
  margin-top: 1.2rem !important;
}

.dt-paging {
  margin-top: 0.8rem !important;
}

.pagination {
  justify-content: end !important;
}

th,
td {
  text-align: start !important;
}

.table-header-permissoes {
  background-color: rgba(230, 230, 230, 0.519) !important;
}

.select2 {
  width: 100% !important;
}

.select2-container--bootstrap-5.select2-container--focus .select2-selection {
  border-color: #696cff !important;
  box-shadow: 0 0 0 .05rem rgba(105, 108, 255, 0.541);
}

.select2-container--bootstrap-5 .select2-dropdown .select2-search .select2-search__field:focus {
  border-color: #696cff !important;
  box-shadow: 0 0 0 .05rem rgba(105, 108, 255, 0.541);
}

.select2-container--bootstrap-5.select2-container--open .select2-selection {
  border-color: #696cff !important;
  box-shadow: 0 0 0 .05rem rgba(105, 108, 255, 0.541);
}


.select2-container--bootstrap-5 .select2-dropdown .select2-results__options .select2-results__option.select2-results__option--selected {
  background-color: #696cff !important;
}

table thead tr {
  border-bottom: 0.5px solid rgb(167, 167, 167) !important;
}

table thead tr th {
  color: black !important;
  font-weight: 600 !important;
}
