<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"

th:with= "menu='cadastro', submenu='categorias'">

<head>
    <!-- É possível adicionar conteúdo -->
</head>

    <th:block layout:fragment="pagetitle">
        <div th:replace="~{partials/title-meta :: title-meta('Categorias')}"></div>
    </th:block>

    <th:block layout:fragment="conteudo">
        
        <div th:replace="~{partials/page-title :: page-title('Categorias','Cadastro')}"> </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex align-items-center">
                                                <label for="customPageLength" class="me-2 mb-0">Exibir</label>
                                                <select id="customPageLength" class="form-select me-3">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        
                                        
                                            <div class="d-flex align-items-center">
                                                <div class="ms-auto">
                                                    <button type="button" class="btn btn-primary d-flex align-items-center me-2" id="btn-adicionar">
                                                        <i class="mdi mdi-plus me-1"></i> Adicionar
                                                    </button>
                                                </div>
                                                <input type="text" id="customSearchBox" placeholder="Buscar..." class="form-control">
                                            </div>
                                        </div>

                                        <table id="datatable" class="table table-striped align-middle nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th class="text-start">Id</th>
                                                    <th>Nome</th>
                                                    <th>Situação</th>
                                                    <th class="text-center coluna-acoes">Ações</th>
                                                </tr>
                                        </table>

                                    </div>
                                </div>
                            </div> 
                        </div>
                        
                        <div class="modal fade" id="modal-categoria" tabindex="-1" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="titulo-modal">Titulo Modal</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" id="corpo-modal">
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="btn-salvar" class="btn btn-primary">Salvar</button>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

    </th:block>

    <th:block layout:fragment="pageJs">        
        <script th:src="@{/pages/categorias.js}"></script>
    </th:block>
        
</html>
