<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"

th:with= "menu='movimentos'">

<head>
    <!-- É possível adicionar conteúdo -->
</head>

    <th:block layout:fragment="pagetitle">
        <div th:replace="~{partials/title-meta :: title-meta('Movimentos')}"></div>
    </th:block>

    <th:block layout:fragment="conteudo">
        
        <div th:replace="~{partials/page-title :: page-title('Movimentações de Estoque','Movimentos')}"></div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex align-items-center">
                                                <label for="customPageLength" class="me-2 mb-0">Exibir</label>
                                                <select id="customPageLength" class="form-select me-3">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option>
                                                </select>
                                            </div>
                                        
                                        
                                            <div class="d-flex align-items-center">
                                                <div class="ms-auto">
                                                    <a th:href="@{/movimentos/novo}" class="btn btn-primary d-flex align-items-center me-2">
                                                        <i class="mdi mdi-plus me-1"></i> Adicionar
                                                    </a>
                                                </div>
                                                <input type="text" id="customSearchBox" placeholder="Buscar..." class="form-control">
                                            </div>
                                        </div>
                                        
                                        
                                        <table id="datatable" class="table table-striped align-middle nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Data</th>
                                                    <th>Tipo</th>
                                                    <th>Material</th>
                                                    <th>Quantidade</th>
                                                    <th>Responsável</th>
                                                    <th class="text-center coluna-acoes">Ações</th>
                                                </tr>
                                            </thead>
                                        </table>

                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div> <!-- end row -->

    </th:block>

    <th:block layout:fragment="pageJs">

    <script th:src="@{/pages/movimentos.js}"></script>

    </th:block>
        

</html>
