<th:block th:fragment="sidebar">
    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme"> <!-- Sidebar -->

        <div class="app-brand demo ">
            <a th:href="@{/}" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <span class="text-primary">
                    
                    </span>
                </span>
                <span class="app-brand-text demo menu-text fw-bold ms-2">Gestão Geral</span>
            </a>
        </div>



        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item" th:classappend="${menu=='dashboards'} ? 'active' : ''">
                <a th:href="@{/}" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Analytics">Dashboard</div>
                </a>
            </li>

            <!-- Operações -->
            <li class="menu-item">
                <a href="#" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-dollar-circle"></i>
                    <div data-i18n="Layouts">Operações</div>
                </a>

                <ul class="menu-sub">
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div data-i18n="Without menu">Entradas/Saídas</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div data-i18n="Without navbar">Pagamentos do mês</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div data-i18n="Container">Parcelamentos</div>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Cadastros -->
            <li class="menu-item" th:classappend="${menu=='cadastro'} ? 'active open' : ''">
                <a href="#" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-plus-circle"></i>
                    <div data-i18n="Layouts">Cadastros</div>
                </a>

                <ul class="menu-sub">
                    <li class="menu-item" th:classappend="${submenu=='fornecedores'} ? 'active' : ''">
                        <a th:href="@{/fornecedores}" class="menu-link">
                            <div data-i18n="Without menu">Fornecedores</div>
                        </a>
                    </li>
                    <li class="menu-item" th:classappend="${submenu=='categorias'} ? 'active' : ''">
                        <a th:href="@{/categorias}" class="menu-link">
                            <div data-i18n="Without navbar">Categorias</div>
                        </a>
                    </li>
                    <li class="menu-item" th:classappend="${submenu=='materiais'} ? 'active' : ''">
                        <a th:href="@{/materiais}" class="menu-link">
                            <div data-i18n="Container">Materiais</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item" th:classappend="${menu=='movimentos'} ? 'active' : ''">
                <a th:href= "@{/movimentos}" class="menu-link" >
                    <i class="menu-icon tf-icons bx bx-transfer"></i>
                    <span>Movimentações</span>
                </a>
            </li>

            <!-- Grupos de Acessos -->
            <li class="menu-item" th:classappend="${menu=='acessos'} ? 'active open' : ''">
                <a href="#" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-street-view"></i>
                    
                    <div data-i18n="Layouts">Acessos</div>
                </a>

                <ul class="menu-sub">
                    <li class="menu-item" th:classappend="${submenu=='usuarios'} ? 'active' : ''">
                        <a href="/usuarios" class="menu-link">
                            <div data-i18n="Without navbar">Usuários</div>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">
                            <div data-i18n="Without menu">Grupos de acesso</div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside><!-- End Sidebar -->

</th:block>
