<!doctype html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"

th:with= "menu='dashboards'">

<head>
</head>

    <th:block layout:fragment="pagetitle">
        <div th:replace="~{partials/title-meta :: title-meta('Página Inicial')}"></div>
    </th:block>

    <th:block layout:fragment="conteudo">
        <div th:replace= "~{partials/page-title :: page-title('Página Inicial','Home')}"> </div>


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Bem vindo ao Sistema de Controle de Estoque</h4>
                    </div>
                    <div class="card-body">
                        <div class="div">
                            <p>
                                Dados do Usuário:
                            </p>

                            <span>Usuário:</span> <span th:text="${#authentication.principal}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </th:block>

</html>
